# Why EDA ?
I was thinking about how to start this article with an analogy. Because, I like explaining things using analogies. Especially, if the subject that needs to be explained involves some commonly hated areas like mathematics, complicated equations and so on. Explaining these "Untouchables" with something that relates with a common man's life, could make this more digestive in nature. Now, take a deep breath and let your mind free for tour of imagination. The story begins. You are a hardworking person, with a certain portion of your hard earned money, you are decided buy some land or property. Would you dare to buy the land without a look ? I don't think so. I'm sure that you are someone who at least or at worst belongs to the category of 'Someone with Average IQ', where the majority belongs. So there is no way you would make a foolish decision by making a blind purchase. Then, what you would do ? You might take visit to that place or You might ask the mighty internet some interesting questions about it, checks the credibility of the broker... the list continues. Nomatter whatever they are, the ultimate objective of being a Junior Sherlock Holmes is to find out or answer the question "Is buying this property worth my inverstment ?". Story ends. Now please turn off your imaginary capabilities and try to safetly land in the "world of misery", the reality. Just like the buyer being a Data Analyst, before using the data you downloaded from the internet or you pay to get it via post, oh yeah, not a joke. Some datasets need to be paid for the shipment fee and you have to provide them the storage device to write the data and transfer the data, they will send it you via post in a hard disk because of its size, [The click dataset is an example for this](https://cnets.indiana.edu/groups/nan/webtraffic/click-dataset/). Back to the topic, After getting the data its foolish to use it blindly without performing some exploration on the data to decide if this data fit for our needs or is it just some garbage. To make these kinds decisions about the data, there are numerous techniques available from the domain of statistics which we are gonna implement with Python.

# How ?

The dataset that we are going to use to learn about EDA in practise is the diabetes dataset (diabetes.csv) obtained from kaggle for the sake of simplicity. For EDA, we have to apply techniques by using some python packages. Lots of package with various capabilities and features are available, but now we are gonna use only to packages pandas and seaborn. Pandas helps to make dataframe objects from the diabetes.csv file. Pandas comes with methods to find out mean, median and mode and many more. So we don't have to write it from scratch. Seaborn is a plotting or visualization tools its like matplotlib on steroids. Many answers that are hidden in the structured table and cell format will get visible to the analyst after visualy representing it.

In [ ]:
import pandas as pd # importing pandas library as an alias pd
import seaborn as sns #importing seaborn library as an alias sns

Now we have to read the csv file and create a pandas dataframe object to perform all the future tasks with or on that dataframe object. Because it is not handy to directly interact with a csv. Reading and writing from disk is a time consuming process, ain't it ?

In [ ]:
diabetes_df = pd.read_csv("diabetes.csv")

After creating diabetes_df which is a copy of the contents from diabetes.csv file, we can say goodbye to the csv file. Its like a mother who passed away by giving birth, and the diabetes_df, the dataframe object is like a child born after Python and the csv file made intercourses. It has the contents from the csv and some extra capabilites, got from his/her father (Python).

Now let's take a look into the data using head() method. By default, it shows the first 5 records from the data (*if you don't believe me check the index numbers residing far left of the table*) and the corrusonding column names. You can call it from the dataframe object using dot (.) operator.

In [ ]:
diabetes_df.head()

   Pregnancies  Glucose BloodPressure  ...  DiabetesPedigreeFunction   Age Outcome
0          6.0    148.0            72  ...                     0.627  50.0       1
1          1.0     85.0            66  ...                     0.351   NaN       0
2          8.0    183.0            64  ...                     0.672  32.0       1
3          1.0     89.0            66  ...                     0.167  21.0       0
4          0.0    137.0            40  ...                     2.288  33.0       1

[5 rows x 9 columns]

head() shows the first five rows, lets see the last five rows using tail()

In [ ]:
diabetes_df.tail()

     Pregnancies  Glucose  ...   Age  Outcome
763         10.0    101.0  ...  63.0        0
764          2.0    122.0  ...  27.0        0
765          5.0    121.0  ...  30.0        0
766          1.0    126.0  ...  47.0        1
767          1.0     93.0  ...  23.0        0

[5 rows x 9 columns]

It is important to no the shape of your data. for that we can use shape. shape is not a method hence it is not callable using paranthesis. shape is tuple containing two elements, number of records and number of columns in your dataframe. Even though shape is not callable we can access it using the dot operator just like we did for head and tail. It shows (768,9). That means we have 768 records or rows or instances of data with 9 columns or features. Many names but same thing ðŸ˜€.

In [ ]:
diabetes_df.shape

(768, 9)

Now we have got a look of the data from a certain distance. Lets get closer, and check how tidy this data is ? One of the most commonly found dirt that makes the data untidy are missing values. By missind data or values what we mean is that data which are `null, NaN or NA.`

Let's check if there is any dirtiness to our data. We can use `isnull()` method for that along with aggregation function `sum()` for the purpose of checking

In [ ]:
diabetes_df.isnull().sum()

Pregnancies                 1
Glucose                     1
BloodPressure               3
SkinThickness               0
Insulin                     0
BMI                         2
DiabetesPedigreeFunction    6
Age                         1
Outcome                     0
dtype: int64

Above line of code gave us an output with how many null values are present in each column. I'm not going to the details of how we got this result, because its not our topic. But you get it right ? this simple line of code shows what we wanna know. From the result it is apparant that `Pregnancies` feature has 1 null value while `BloodPressure` has 3 at the same time `SkinThickness` is pretty much cleaner with 0 null values.